<br>
<div class="container">
    <div class="card">
        <br>
        <!-- <app-viewcourse (recordClicked)="onRecordClicked($event)"></app-viewcourse> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <div class="container">

            <div class="row">

                <div class="col col-md-6 mx-auto">

                    <h2 class="text-center mb-4">Admission</h2>
                    <form [formGroup]="admissionform" (ngSubmit)="onSubmit()">

                        <div class="form-group">
                            <label for="StudentName">Student Name</label>
                            <input type="text" class="form-control" formControlName="studentName" id="studentName"
                                placeholder="Enter Student Name" required>
                        </div>
                        <div class="form-group">
                            <label for="StudentDOB">Date Of Birth</label>
                            <input type="date" class="form-control" formControlName="studentDOB" id="studentDOB"
                                placeholder="Enter Date Of Birth" required>
                        </div>

                        <div class="form-group">
                            <label for="Address">Address</label>
                            <input type="text" class="form-control" formControlName="address" id="address"
                                placeholder="Enter Address" required>

                        </div>
                        <div class="form-group">
                            <label for="mobile">Mobile</label>
                            <input type="text" class="form-control" formControlName="mobile" id="mobile"
                                placeholder="Enter Mobile" required>
                        </div>

                        <div class="form-group">
                            <label for="sslc">SSLC Marks</label>
                            <input type="number" class="form-control" formControlName="sslc" id="sslc"
                                placeholder="Enter SSLC marks" required>
                        </div>

                        <div class="form-group">
                            <label for="hsc">HSC Marks</label>
                            <input type="number" class="form-control" formControlName="hsc" id="hsc"
                                placeholder="Enter Hsc marks" required>
                        </div>

                        <div class="form-group">
                            <label for="diploma">Diploma Marks</label>
                            <input type="number" class="form-control" formControlName="diploma" id="diploma"
                                placeholder="Enter Diploma marks" required>
                        </div>

                        <div class="form-group">
                            <label>Eligibility</label>
                            <div class="form-check">
                                <input class="form-check-input" formControlName="eligibility" name="eligibility"
                                    type="radio" id="Eligibility" value="Yes">
                                <label class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" formControlName="eligibility" name="eligibility"
                                    type="radio" id="Eligibility" value="No">
                                <label class="form-check-label">No</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Address">Course Id</label>
                            <input type="text" class="form-control" formControlName="courseId" id="courseId"
                                placeholder="Enter Course Id" required>
                        </div>

                        <button id="submitButton" type="submit" class="btn btn-primary">Submit </button>

                    </form>

                </div>

            </div>

        </div>
    </div>
</div>