<app-nav></app-nav>
<br>
<div class="container">
    <!-- <input type="text" [(ngModel)]="searchdata" placeholder="Search by location" />
    <button (click)="search()">Search</button> -->
    <br>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let academy of academyList">
            <div class="card h-100" routerLink="/user/viewCourse/">
                <img [src]="academy.imgUrl" class="card-img-top" alt="{{ academy.instituteName }}">
                <div class="card-body">
                    <h5 class="card-title">{{ academy.instituteName }}</h5>
                    <p class="card-text">
                    <p><strong>Location: </strong>{{academy.instituteAddress}}</p>
                   
                </div>
            </div>
        </div>

    </div>

</div>
<br>