<app-nav-admin></app-nav-admin>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<div class="container">
       
   <div class="row">
          
      <div class="col-md-6 mx-auto">
             
         <h2 class="text-center mb-4">Institute</h2>
             <form [formGroup]="academyform" (ngSubmit)="onSubmit()">
             
         <div class="form-group">
                <label for="CourseName">Institute Name</label>
                <input type="text" class="form-control" formControlName="InstituteName" id="InstituteName"
               placeholder="Enter Institute Name" required>
                
         </div>
             
         <div class="form-group">
                <label for="InstituteDescription">Institute Description</label>
                <input type="text" class="form-control" formControlName="InstituteDescription"
               id="InstituteDescription" placeholder="Enter Institute Description" required>           
         </div>

         <div class="form-group">
                <label for="InstituteAddress">InstituteAddress</label>
                <input type="text" class="form-control" formControlName="InstituteAddress" id="InstituteAddress"
               placeholder="Enter Course Name" required>
         </div>

     <div class="form-group">
        <label for="Mobile">Mobile</label>
        <input type="text" class="form-control" formControlName="Mobile" id="Mobile"
       placeholder="Enter Mobile" required>
 </div>
 <div class="form-group">
    <label for="Email">Email</label>
    <input type="text" class="form-control" formControlName="Email" id="Email"
   placeholder="Enter Email" required>
</div>

<div class="form-group">
    <label for="ImgUrl">Image URL</label>
    <input type="text" class="form-control" formControlName="ImgUrl" id="ImgUrl"
   placeholder="Enter Image URL" required>
</div>


            
             <button id="submitButton" type="submit" class="btn btn-primary">Add Institute </button>
            
         </form>
             
      </div>
          
   </div>
       
</div>