<app-nav-admin></app-nav-admin>
<br>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<div class="container">
       
   <div class="row">
          
      <div class="col-md-6 mx-auto">
             
         <h2 class="text-center mb-4">Add Course</h2>
             <form [formGroup]="courseform" (ngSubmit)="onSubmit()">
             
         <div class="form-group">
                <label for="CourseName">Course Name</label>
                <input type="text" class="form-control" formControlName="CourseName" id="courseName"
               placeholder="Enter Course Name" required>
                
         </div>
             
         <div class="form-group">
                <label for="courseDescription">Course Description</label>
                <input type="text" class="form-control" formControlName="CourseDescription"
               id="courseDescription" placeholder="Enter Course Description" required>  
                
         </div>
         <div class="form-group">
                <label for="courseDuration">Course Duration</label>
                <input type="number" class="form-control" formControlName="CourseDuration" id="courseDuration"
               placeholder="Enter Duration" required>
                
         </div>
            
             <button id="submitButton" type="submit" class="btn btn-primary">Add Course </button>
            
         </form>
             
      </div>
          
   </div>
       
</div>