<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><strong>PG Admission</strong> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/user/viewInstitute">Home</a>
              </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/user/viewInstitute">Institute</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" >Enrolled Courses</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login"> Logout</a>
          </li> 
          <!-- <li class="nav-item">
            <button a class="nav-link active" aria-current="page" routerLink="/navbar"><span>Admin</span>  </button> -->
        </ul>
      </div>
    </div>
  </nav>