<app-nav-admin></app-nav-admin>
<br>
<div class="container">
  <div class="card">

    <div class="card-body">
      <br>
      <div class="container">
        <div class="table-responsive">
          <table class="table table-striped-columns">
            <thead>
              <tr>
                <th class="col">Id</th>
                <th class="col">Name</th>
                <th class="col">Date Of Birth</th>
                <th class="col">Address</th>
                <th class="col">Mobile</th>
                <th class="col">SSLC</th>
                <th class="col">HSC</th>
                <th class="col">Diploma</th>
                <th class="col">Eligibility</th>
                <th class="col">Course ID</th>
                <th class="col">Edit</th>
                <th class="col">Delete</th>
              </tr>
            </thead>
            <tbody *ngFor="let student of studentList">
              <tr>
                <td>{{student.studentId}}</td>
                <td>{{student.studentName}}</td>
                <td>{{student.studentDOB}}</td>
                <td>{{student.address}}</td>
                <td>{{student.mobile}}</td>
                <td>{{student.sslc}}</td>
                <td>{{student.hsc}}</td>
                <td>{{student.diploma}}</td>
                <td>{{student.eligibility}}</td>
                <td>{{student.courseId}}</td>
                <td><button type="button" class="btn btn-success">Update</button>
                </td>
                <td><button type="button" (click)="deleteRecord(student.studentId)"
                    class="btn btn-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>